doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title #{pageTitle} || HNY
        link(rel="stylesheet" href="https://unpkg.com/mvp.css")

    body 
        header
            block headerPage
           
            h2 
                a(href="/") HAPPY NEW YEAR
            nav
                ul
                    li
                        a(href="/yearly") Yearly 
                    li
                        a(href="/monthly") Monthly    
                    li
                        a(href="/login") Login/Logout
        main
            block contents
    include partials/footer.pug