extends base.pug

block headerPage 
     div(id="headerPage")
                div(class="yearNumber")
                    h2 2
                div(class="yearNumber")
                    h2 0
                div(class="yearNumber")
                    h2 2
                div(class="yearNumber")
                    h2 3
                div(id="pageTitle")
                    h1 Happy New Year
                    h2 & Make yearly plans
        


block contents
    div(class="yearlyTodo")
        div(class="progressBar")
            div(class="progressBar_frame")
                div(class="progressBar_frame_percent")
                span %
        include partials/yearlyForm.pug
        include partials/yearlyForm.pug
        include partials/yearlyForm.pug

    div(class="monthlyTodo")
        h2 #{new Date().getFullYear()}
        div(class="monthBox")
            h4 Jan
        div(class="monthBox")
            h4 Fab
        div(class="monthBox")
            h4 Mar
        div(class="monthBox")
            h4 Apr
        div(class="monthBox")
            h4 May
        div(class="monthBox")
            h4 Jun
        div(class="monthBox")
            h4 July
        div(class="monthBox")
            h4 Aug
        div(class="monthBox")
            h4 Sep
        div(class="monthBox")
            h4 Oct
        div(class="monthBox")
            h4 Nov    
        div(class="monthBox")
            h4 Dec    