extends base.pug

block years
    div
        form(action="POST")
            h2 2023
            div 
                ul
                    li list
            input(type="text")
            input(type="submit", value="🚀") 