extends base.pug

block headerPage 
     div(id="headerPage")
                div(class="yearNumber")
                    h2 2
                div(class="yearNumber")
                    h2 0
                div(class="yearNumber")
                    h2 2
                div(class="yearNumber")
                    h2 3
                div(id="pageTitle")
                    h1 Happy New Year
                    h2 & Make yearly plans
        


block years
    div
        form(action="POST")
            h2 2023
            div 
                ul
                    li list
            input(type="text")
            input(type="submit", value="🚀") 