extends base

block contents 
    h4 Create your HNY ID
    if errorMessage 
        span=errorMessage
    form(method="POST")
        input(name="username",placeholder="Username, ID", type="text", required)
        input(name="email",placeholder="E-mail", type="email",required)
        input(name="password",placeholder="Password", type="password",required)
        input(name="password2",placeholder="Password Confirm", type="password",required)
        input(name="name",placeholder="Name", type="text",required)
        input(name="country",placeholder="Country/Region",type="text")
        input(type="submit", value="Join")

    hr
    div 
        span Already have an account? 
        a(href="/login") Sign in now &rarr;