nav
    ul
        li
            a(href="/yearly") Yearly 
        li
            a(href="/monthly") Monthly    
        li
            a(href="/") HAPPY NEW YEAR
        li
            a(href="/login") Login/Logout